body {
    background:url(https://images.wallpaperscraft.com/image/basketball_ball_sport_115164_3840x2400.jpg);
}
.container {
    width: 300px;
    height: 800px;
    position:fixed; 
    left:600px; 
    top:200px;
}
label {
color: white;
font-size: 30px;
}
input {
    background: transparent;
    border: none;
}
input, select, textarea {
    color: rgb(199, 196, 196);
}
#submit{
    background-color: rgb(128, 128, 128);
    margin-top: 3%;
    }
.container h3{
    color: white;
}