body {
    background:url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/zyk69ra/evening-traffic-the-city-lights-motion-blur-abstract-background_vyrjvg67__F0000.png);
}
.container {
    width: 300px;
    height: 800px;
    position:fixed; 
    left:600px; 
    top:200px;
}
input {
    background: transparent;
    border: none;
}
input, select, textarea {
    color: rgb(199, 196, 196);
}
#submit{
    background-color: rgb(128, 128, 128);
    margin-top: 3%;
    }
.container h3{
    color: white;
}