@import url('https://fonts.googleapis.com/css?family=Numans');
.navbar {
    background-color: transparent;
    float: top;
  }

input {
    background: transparent;
    border: none;
}
input, select, textarea {
    color: rgb(199, 196, 196);
}
body {
    background-image: url('https://i.pinimg.com/originals/c2/8d/98/c28d98c2c6cee412defcbfa3204098f6.jpg');
    background-size: auto;
    
    height: 100%;
    font-family: 'Numans', sans-serif;
    }
label {
    color: rgb(199, 196, 196);
}
.container {
    width: 700px;
    height: 1000px;
    position:fixed; 
    left:250px; 
    top:100px;
    background-color:rgb(109, 103, 103);
    opacity: .8;
}
.form {
    width: 300px;
    height: 600px;
    position:fixed; 
    left:700px; 
    top:50px;
    background-color:rgb(8, 8, 8);
    opacity: .8;
}
.form label{
    font-size: 40px;
}

.form h1 {
   color: rgb(202, 199, 199);
}

th {
    color: rgb(253, 249, 249);
}
.login_btn{
    color: black;
    background-color: rgb(128, 128, 128);
    width: 100px;
    margin-right: 35%;
    margin-top: 30%;
    }
    
.login_btn:hover{
    color: black;
    background-color: white;
}
.btn a { 
    color: white;
 } 

.md-form.mt-0 {
    float: right;
}
    