body {
    color: #fff;
    background:url('https://wallpaperaccess.com/full/720058.jpg');
    font-family: 'Roboto', sans-serif;
    background-size: cover;
}
.form-control {
    min-height: 41px;
    box-shadow: none;
    border-color: #e1e4e5;
}
.form-control:focus {
    border-color: #49c1a2;
    }
.form-control,
.btn {
border-radius: 3px;
}
form {
    width: 400px;
    margin: 0 auto;
    padding: 30px 0;
}
form {
    color: #9ba5a8;
    margin-bottom: 15px;
    background-color: rgba(0,0,0,0.5) !important;
    
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
form h2 {
    color: #333;
    font-weight: bold;
    margin-top: 0;
    }
form hr {
    margin: 0 -30px 20px;
    }
form .form-group {
    margin-bottom: 20px;
    }
form label {
    font-weight: normal;
    font-size: 13px;
    }
form .btn {
    font-size: 16px;
    font-weight: bold;
    background:#ed2525;
    border: none;
    min-width: 140px;
    }
form .btn:hover,
form .btn:focus {
    background: #757272;
    outline: none !important;
    }
form a {
    color: #fff;
    text-decoration: underline;
    }
form a:hover {
    text-decoration: none;
    }
form form a {
    color: #49c1a2;
    text-decoration: none;
    }
form a:hover {
    text-decoration: underline;
    }