extends editlayout

block content
    .container-3    
        nav.navbar.fixed-top-left.navbar-expand-lg.navbar-dark.scrolling-navbar
            a.navbar-brand(href='#')
                strong TayLog
            #navbarSupportedContent
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='/users/logout', role='button')
                            | Logout 
                            span.sr-only
                    li.nav-item.active
                        a.nav-link(href='/manageradmin', role='button')
                            | Go Back
                            span.sr-only
                    
        








            
        .view.intro.hm-purple-light(style='height: 400px;')
    .container1
        .container2
            form(action='/edits/'+ accounts.id, method='post', name='submitform')
                //h3= Change Team Information
                label(for='teamname') Change Teamname:
                    input#teamname(name='teamname', type='text', placeholder='Edit Team Name')
                br
                label(for='confname') Confrence:
                    select#confname(name='confname')
                        option(value='America East') America East
                        option(value='American') American
                        option(value='ASUN') ASUN
                        option(value='Atlantic 10') Atlantic 10
                        option(value='ACC') ACC
                        option(value='Big 12') Big 12
                        option(value='Big East') Big East
                        option(value='Big Sky') Big Sky
                        option(value='Big South') Big South
                        option(value='Big Ten') Big Ten
                        option(value='Big West') Big West
                        option(value='Colonial') Colonial
                        option(value='Conference USA') Conference USA
                        option(value='Horizon') Horizon
                        option(value='Ivy') Ivy
                        option(value='MAAC') MAAC
                        option(value='Mid-American') Mid-American
                        option(value='MEAC') MEAC
                        option(value='Missouri Valley') Missouri Valley
                        option(value='Mountain West') Mountain West
                        option(value='Northeast') Northeast
                        option(value='Ohio Valley') Ohio Valley
                        option(value='Pac-12') Pac-12
                        option(value='Patriot League') Patriot League
                        option(value='SEC') SEC
                        option(value='Southern') Southern
                        option(value='Southland') Southland
                        option(value='SWAC') SWAC
                        option(value='Summit League') Summit League
                        option(value='Sun Belt') Sun Belt
                        option(value='West Coast') West Coast
                        option(value='WAC') WAC
                br
                                      
                label(for='player1') Change Center:
                    input#player1(name='player1', type='text', placeholder='Edit Center')
                br
                label(for='player2') Change Shooting Guard:
                    input#player2(name='player2', type='text', placeholder='Edit Shooting Guard')
                br
                label(for='player3') Change Point Guard:
                    input#player3(name='player3', type='text', placeholder='Edit Point Guard')
                br
                label(for='player4') Change Small Forward:
                    input#player4(name='player4', type='text', placeholder='Edit Small Forward')
                br
                label(for='player5') Change Power Forward:
                    input#player5(name='player5', type='text', placeholder='Edit Power Forward')
                br 
                
                label(for='wins') Change Wins:
                    input#wins(name='wins', type='text', placeholder='Edit Wins')    
                label(for='losses') Change Losses:
                    input#losses(name='losses', type='text', placeholder='Edit Losses')     
                button#submit.btn.btn-outline-light(type='submit') Save Changes