extends managerlayout

block content
        
        
    .form   
        form(name='submitform')
            h1 Add New Team
            label(for='website') Team:
            input#website(name='website', type='text', placeholder='Enter Team Name')
            label(for='username') Confrence
            input#username(name='username', type='text', placeholder='Enter Confrence')
            label(for='password') Players
            input#password(name='password', type='text', placeholder='Enter Players')
            button.btn.float-right.login_btn(type='submit' onclick='manager()') Create
        
        
        
        
        
        
        
        
        
        
    
    .container       
        table#mytable.table.table-bordred.table-striped
            thead
                tr
                th Team


                th Confrence
                        
                
                th Functions 
                          
                tbody
                
                    tr
                        
                            td
                                p=hi
                            td
                                p=hi
                            td
                                button.btn.btn-outline-light.btn-xs
                                    a(href='/pass/') Show Players
                                button.btn.btn-outline-light.btn-xs 
                                    a(href='/remove/') Remove
                                button.btn.btn-outline-light.btn-xs
                                    a(href='/edits/') Edit Team Info
