doctype html
html(lang='en')
    head
        link(rel='stylesheet', href='/stylesheets/register.css')
        link(href='https://fonts.googleapis.com/css?family=Roboto:400,700', rel='stylesheet')
        title Register 
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    body
        block content
